<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>control.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpControl</servlet-name>
        <servlet-class>control.SignUpControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutControl</servlet-name>
        <servlet-class>control.LogOutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerControl</servlet-name>
        <servlet-class>control.ManagerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControl</servlet-name>
        <servlet-class>control.DeleteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddControl</servlet-name>
        <servlet-class>control.AddControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadControl</servlet-name>
        <servlet-class>control.LoadControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditControl</servlet-name>
        <servlet-class>control.EditControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreControl</servlet-name>
        <servlet-class>control.LoadMoreControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterPrice</servlet-name>
        <servlet-class>control.FilterPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCartControl</servlet-name>
        <servlet-class>control.ManagerCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartControl</servlet-name>
        <servlet-class>control.DeleteCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartControl</servlet-name>
        <servlet-class>control.AddCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAmountCartControl</servlet-name>
        <servlet-class>control.LoadAmountCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubAmountCartControl</servlet-name>
        <servlet-class>control.SubAmountCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAmountCartControl</servlet-name>
        <servlet-class>control.AddAmountCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalMoneyCartControl</servlet-name>
        <servlet-class>control.TotalMoneyCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddControl2</servlet-name>
        <servlet-class>control.AddControl2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct2</servlet-name>
        <servlet-class>control.DeleteProduct2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpControl</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutControl</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerControl</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControl</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddControl</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadControl</servlet-name>
        <url-pattern>/loadProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditControl</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreControl</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterPrice</servlet-name>
        <url-pattern>/filterPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCartControl</servlet-name>
        <url-pattern>/managerCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartControl</servlet-name>
        <url-pattern>/deleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartControl</servlet-name>
        <url-pattern>/addCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAmountCartControl</servlet-name>
        <url-pattern>/loadAllAmountCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubAmountCartControl</servlet-name>
        <url-pattern>/subAmountCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAmountCartControl</servlet-name>
        <url-pattern>/addAmountCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TotalMoneyCartControl</servlet-name>
        <url-pattern>/totalMoneyCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddControl2</servlet-name>
        <url-pattern>/add2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct2</servlet-name>
        <url-pattern>/delete2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
